{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "eqeqeq": "off",
    "no-undef": "off",
    "no-unused-vars": "off",
    "space-infix-ops": "off",
    "strict": "off",
    "no-dupe-class-members": "off",
    "no-use-before-define": "off"
  }
}
